<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    {% if datos %}
        <table border="1" class="table table-hover">
            <thead>

                <tr>
                    <td>{{ x.id}}</td>
                    <td>{{ x.nombre}}</td>
                    <td>{{ x.marca}}</td>
                    <td>{{ x.precio}}</td>
                    <td>{{ x.acciones}}</td>
                    
                </tr>
            </thead>
            <tbody>
            {% for x in lista%}
               <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>MARCA</th>
                <th>PRECIO</th>
                <th>ACCIONES</th>
        </tr>
        {% endfor%}
</tbody>
        </table>
        {% else %}
        <h3>no hay datos para mostrar</h3>
    {% endif %}
</body>
</html>
