<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    {% if datos %}
        <table border="1" class="table table-hover">
            <thead>

                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio</th>
                    <th>ACCIONES</th>
                    
                </tr>
            </thead>
            <tbody>
            <td>ID</td>
            <td>Nombre</td>
            <td>Marca</td>
            <td>Precio</td>
            <td>ACCIONES</td>



</tbody>

        </table>


    {% endif %}
</body>
</html>